@import url('https://fonts.googleapis.com/css?family=Alegreya:400,500,700|Open+Sans:300,400,700');
@import '../settings/settings.global';


h1,h2,h3,h4{
    font-family: 'Alegreya', serif;
}
p,a{
    font-family: 'Open Sans', sans-serif;
    line-height: 120%;
}
.c-header h2{
    font-family: 'Open Sans', sans-serif;
}