@import '../settings/settings.global';


.c-searchbar{
    display:flex;
    justify-content: center;
    width:100%;
    padding:.5em;
    margin:1em 0;
    font-family: 'Open Sans', sans-serif;

}
.c-searchbar__input{
    border-radius:  3px;
    height: 40px;
    border: 1px solid #5092dc;
    border-radius: 3px 0 0 3px;
    width:20%;
    padding-left:1em;
    background-color:transparent;
}
.c-searchbar__input:focus{
    outline:0;
}
.c-searchbar__button{
    width:5em;
    border: 0;
    padding: 0;
    cursor: pointer;
    background-color: #fff;
    border-left: 0 ;
    border-top: 1px solid #5092dc ;
    border-right: 1px solid #5092dc ;
    border-bottom: 1px solid #5092dc ;
    background:transparent;
}
.c-searchbar__svg{
    fill:#5092dc;
    width:25px;
    height:25px;
}
.c-searchbar__button:hover{
    background-color: $secondary-color;
    .c-searchbar__svg{
        fill:$white;
    }
}

@media only screen and (max-width: 1140px ) {
    .c-searchbar__input{

        width:30%;

    }
}
@media only screen and (max-width: 760px ) {
    .c-searchbar__input{

        width:40%;

    }
}

@media only screen and (max-width: 480px ) {
    .c-searchbar__input{

        width:60%;

    }
}